html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.logo {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}

.linea {
    width: 75%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.titoloRosa {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #F89EC4;
    font-size: 40px;
    margin: 0;
}

.p-contatti {
    margin: 0;
    font-family: "Amaranth", sans-serif;
    color: #fff;
    font-size: 23px;
    margin: 10px 0;
}

h1 {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #F89EC4;
    font-size: 40px;
    margin: 0;
}

.titolo2Rosa {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #F89EC4;
    font-size: 30px;
    margin: 10px 0;
}

p {
    font-family: "Amaranth", sans-serif;
    color: #fff;
    font-size: 23px;
    margin: 30px 0;
}

.bottoneContatti {
    background-color: #F89EC4;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

footer .linea {
    width: 75%;
    margin: 0;
}

footer p {
    color: #fff;
    margin: 10px 0;
    text-align: center;
}

hr.linea {
    border: 0;
    border-top: 1px solid #fff;
    width: 75%;
    margin: 10px 0;
}

.breadcrumb {
    text-decoration: none;
    color: #fff;
}

.immaginiHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

.immaginiHome a {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.immaginiHome img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) { /* Applica le modifiche solo se la lunghezza della finestra è minore di 768px */
    .immaginiHome a {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
